@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  @variants responsive {

    .neu-shadow {
      border-radius: 30px;
      background: #ededed;
      box-shadow:  10px 10px 19px #d8d8d8,
                   -10px -10px 19px #ffffff;
      color: #b6b4b8;
      padding: 15px;
    }

    .neu-shadow-spotify {
      border-radius: 30px;
      background: #1ED760;
      box-shadow:  10px 10px 19px #d8d8d8,
                   -10px -10px 19px #ffffff;
      color: white;
      padding: 15px;
    }
  }
}

body {
  color: grey;
  background: rgb(0,0,0);
}

body::-webkit-scrollbar {
  display: none;
}